# External website: https://www.elastic2ls.com
# This host is intentionally DNS-resolved at check time and is not pinned to
# 152.53.46.232.

define host {
    use                     generic-host
    host_name               www.elastic2ls.com
    alias                   elastic2ls.com
    address                 www.elastic2ls.com
    check_command           check_external_https!/
    check_interval          5
    retry_interval          1
    max_check_attempts      3
    contact_groups          admins
}

define service {
    use                     generic-service
    host_name               www.elastic2ls.com
    service_description     Website availability
    check_command           check_external_https!/
    check_interval          5
    retry_interval          1
    max_check_attempts      3
}

define service {
    use                     generic-service
    host_name               www.elastic2ls.com
    service_description     Public DNS
    check_command           check_external_dns
    check_interval          30
    retry_interval          5
    max_check_attempts      3
}

define service {
    use                     generic-service
    host_name               www.elastic2ls.com
    service_description     TLS certificate
    check_command           check_external_certificate!30!14
    check_interval          720
    retry_interval          60
    max_check_attempts      3
    notification_interval   720
}
