# Public application from the supplied stack: https://sx.elastic2ls.com

define host {
    use                     generic-host
    host_name               sx.elastic2ls.com
    alias                   SearXNG
    address                 152.53.46.232
    check_command           check_tcp!443
    check_interval          5
    retry_interval          1
    max_check_attempts      3
    contact_groups          admins
}

define service {
    use                     generic-service
    host_name               sx.elastic2ls.com
    service_description     SearXNG web application
    check_command           check_https_content!/!SearXNG
}

define service {
    use                     generic-service
    host_name               sx.elastic2ls.com
    service_description     Public DNS A record
    check_command           check_public_dns_a
}

define service {
    use                     generic-service
    host_name               sx.elastic2ls.com
    service_description     TLS certificate
    check_command           check_https_certificate!30!14
    check_interval          60
    notification_interval   60
}
